body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.row {
    padding-top: 30px;
}

h6 {
    font-size: 20px !important;
    color: #c6bfb7;
}


/* //// NAVBAR //// */

nav {
    background-color: rgba(47, 52, 62, 0.91) !important;
}

nav ul a {
    color: #f39c12 !important;
    transition: background-color .5s;
}

nav ul a:hover {
    border-bottom: 1px #f39c12 solid;
    margin-top: -1px;
}
nav .brand-logo {
    margin-left: 50px;
    color: #f39c12;
}

.num-mobile {
    color: #f39c12;
    font-size: 18px;
    padding-top: 5px;
    background-color: #f5f5f5;
    border-bottom: 2px #e0e0e0 inset;
}

.action-btn {
    margin-bottom: 0 !important;
    z-index: 1001 !important;
}

.action-btn i {
    line-height: 1.75 !important;
    height: 40px !important;
}

#dropdown1 {
    min-width: 160px;
}

#dropdown3 {
    min-width: 180px;
}

#dropdown4 {
    min-width: 200px;
}
.dropdown-content li a:hover {
    background-color: #f5f5f5 !important;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.szukaj-desktop, 
.szukaj-mobile {
    text-align: center;
    width: 200px !important;
    position: fixed;
    top: 60px;
    right: 5px;
    display: block;
}

#dropdown5 .dropdown-content .active {
    margin: 0px !important;
    padding: 0px !important;
}
.szukaj {
    position: fixed;
    top: 80px;
    right: 0px;
    display: none;
}
.szukaj2{
    position: absolute !important;
    bottom: 40% !important;
}
.szukaj-desktop{
    background-color: #34363d !important;
    opacity: 0.7 !important;
    width: 100%;
    font-size: 20px !important;
    color: #f39c12;
}
.szukaj-mobile
{
    color: #000000;
    z-index: 2000;
    display: inline !important;
}
#szukaj2{
  
}
#submit{
    padding: 0;
    width: 60px;
    height: 37px;
    position: fixed;
    top: 51%;
    
}

#submit i{
    line-height: 2;
    padding-left: 0 !important;
}
/* NEWSY */

.parallax-container {
    height: 700px !important;
}

.news-container .card {
    height: 500px !important;
}

.news-container .card-content {
    padding: 15px !important;
    padding-bottom: 25px !important;
}

.card-action {
    text-align: center;
    padding: 10px 24px !important;
    font-size: 13px;
    border-top: 0 !important;
}

.card-action a {
    color: #f39c12 !important;
}

.card-action a:hover {
    background-color: #f39c12 !important;
    color: white !important;
}

.date {
    font-size: 12px;
    color: #777;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section-title h4::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #f39c12 !important;
    left: 50%;
    margin-left: -30px;
    margin-top: 45px;
}

.card.small .card-image + .card-content {
    max-height: 100% !important;
}

.btn {
    background: transparent !important;
    color: #f39c12 !important;
    text-transform: uppercase !important;
    -webkit-transition: all 1s !important;
    -moz-transition: all 1s !important;
    -o-transition: all 1s !important;
    transition: all 1s !important;
}

.btn:hover {
    background-color: #f39c12 !important;
    color: #FFFFFF !important;
}


/* STYLE O NAS */

.onas {
    background-color: #f5f5f5 !important;
    padding-bottom: 5px;
}

#o-nas-card {
    width: 70% !important;
    height: 100% !important;
    margin-right: auto;
    margin-left: auto;
}
#o-nas-card .card-content{
    padding: 2px !important;
}
#o-nas-card h5 {
    text-align: center;
    font-size: 30px;
    margin:10px;
    color:#f39c12;
}
.card-tabs .tab a {
    color: #f39c12 !important;
}

.tabs .indicator {
    background-color: #f39c12 !important;
}

#czd {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.about-img {
    width: 100%;
    height: 270px;
    margin-bottom: 20px;
}


/* KARUZELA*/

.carousel a {
    width: 260px !important;
}

.carousel img {
    height: 100%;
}


/* FOOTER */

.page-footer {
    background-color: #34363d !important;
    width: 100%;
    padding-top: 0px !important;
    color: white;
}

.page-footer .footer-copyright .container {
    text-align: center;
}

#footer-prawo {
    color: #FFFFFF;
    text-align: center;
}
.wrapper a i{
    margin: 10px !important;
}
.white-text {
    margin-top: 0px;
}
#footer-prawo p {
    margin: 0;
}

.kontakt-footer {
    line-height: 25px;
}

.footer-copyright {
    background-color: rgba(18, 0, 0, 0.1) !important;
    border-bottom: 2px solid #f39c12;
}

.tap-target {
    background-color: #34363d !important;
    text-align: center;
}

.tap-target h5 {
    font-family: 'Frijole', cursive;
    color: #f39c12 !important;
    font-size: 30px !important;
}

#fixed-button-menu {
    color: #f39c12;
    background-color: #34363d;
}

#fixed-button-menu:hover {
    background-color: #f1f2f6 !important;
}

.btn-floating {
    background-color: #f39c12 !important;
}
/* =====SOCIALS===== */

.social_icons ul li{
    line-height: 1.5;
}
.social_icons ul li a {
    text-decoration: none;
    display: inline-block !important;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;}
.tooltipped:hover{
    color: #FFFFFF;
    background-color: #f39c12;
}
/* ======REKRUTACJA======= */
#rekrutacja
{
    background-color: #f5f5f5 !important;
}
.section-title h2::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #f39c12 !important;
    left: 50%;
    margin-left: -50px;
    margin-top: 68px;
}
.first-article
{
    text-align: center;
    min-height: 300px !important;
    font-size: 18px;
}
.first-article .divider
{
 margin-top:30px;
 margin-bottom: 30px;
}
.card-content h5
{
    display: none;
}
#classchoice
{
    background-image: url("img/classchoice.jpg");
}
#test6 ol > li, #test4 ol > li
{
    margin-top:2.5%;
    margin-bottom: 2,5%;
    font-size:16px;
}
#table-row
{
    background-color: #F5F5F5 !important;
    overflow:hidden; 
}
#table-row h5
{
    color:#F39C12;
}
#table-row #mobile-table th
{
    width: 100%;
}
#table-row .carousel
{
    margin-top: 30px;
}
.collapsible-row
{
    margin-bottom: 0 !important;
}
.collapsible-row .collapsible
{
  background-color:#d1d1d1;
  opacity: 0.8;
}
.collapsible-row .collapsible li .collapsible-header
{
    color:#F39C12; 
}
.collapsible-row .collapsible li .collapsible-header i
{
    display:inline;
    color:#000000;
}
.collapsible-row .collapsible li .collapsible-header i {
    float:left !important;
    }
    .collapsible-row .collapsible {
    text-align: left;
    }
.signup
{
    text-align: center;
    min-height: 200px !important;
    font-size: 18px;
}
.signup .divider
{
    margin-top:50px;
    margin-bottom:30px;
}
/* ==============DLACZEGO - MY ============== */
#dlaczego-my-cont .section-title h4
{
    margin-top: 150px;
}
.akwarium-img-cont
{
    margin-top: 20px;
    position: relative;
}
.akwarium-img-cont:hover .overlay 
{
    width: 100%;
}
.akwarium-img
{
    display: block;
    width: 100%;
    height: auto;
}
.overlay 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(47, 52, 62, 0.91) !important;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .9s ease;
    opacity: 0.85;
}
.overlay-text 
{
    white-space: nowrap; 
    color: #F39C12;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#dlaczego-my-cont ul li
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    text-align: left;
}
#dlaczego-my-cont h6
{
    padding-top:20px;
    padding-bottom:20px;
    color: #E28B01;
}
/* |||||||||||||| O-SZKOLE |||||||||||| */
#historia-szkoly-container
{
    background-color: #f5f5f5;
}
#historia-szkoly-container .row #text-cont ul li
{
    list-style-type:disc;
}
.timeline-container h1,.timeline-container h2,.timeline-container h3 {
  font-weight: 300;
}

.timeline-container {
  padding: 1em 1em 0 1em;
  margin-top: 100px !important;
}

.timeline {
  position: relative;
  overflow: auto;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background-color:#2f343e;
  left: 0;
}
.timeline h3 {
  background-color:#2f343e;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  color: #f39c12;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}
.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
  background: #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #dddddd;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0;
}
.timeline h3 {
  margin-top: 0;
}
.timeline h4 {
  color: #c6bfb7;
}
#text-cont{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}
#text-cont h5
{
    text-align: center;
}
#patron-container h3
{
    color:#f39c12;
    text-align:center;
}
#patron-container img
{
    width:70%;
    margin-left:15%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}

#patron-container .card-content
{
    background-color: #FFFFFF;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
    height: 107%;
}
#patron-container .card
{
    height:auto !important;
}
#patron-container .card-title
{
    text-align: center;
}
/* |||||||||||||| NEWS-PODGLĄD |||||||||||||||| */
#news-outlook-container
{
    margin-top: 100px;
}
#news-outlook-container .card
{
    padding-bottom: 40px;
}
#news-outlook-container h5
{
    font-size: 29px !important;
}
#news-outlook-container h6
{
    color: #000000;
    font-size: 24px;
    font-weight:800;
}
#news-outlook-container .date
{
    margin:5px 0;
    padding-top: 0;
}
#news-outlook-container #news-img img
{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}
#news-outlook-container .btn
{
    margin:10px;
}
#galeria-artykułu-container img
{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
    width:90%;
    margin-bottom: 5px;
}
#galeria-artykułu-container .col
{
    padding: 0 !important;
}
#galeria-artykułu-container .row
{
    margin-bottom: 0px !important;
}
/* |||||||||||||| ADMIN FORMULARZ |||||||||||||| */

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #f39c12 !important;
    box-shadow: 0 1px 0 0 #f39c12 !important;
}
.input-field .prefix.active {
    color: #f39c12 !important;
}

.input-field label {
    text-align: center !important;
}

.input-field label.active {
    color: #f39c12 !important;
}


/* media queries */

@media(max-width: 992px) {
    nav .brand-logo {
        margin-left: 0px;
    }
    .responsive.img img {
        height: 120px !important;
        width: 100px !important;
    }
    .social_icons{
        bottom: 310px;
    }
}
@media(max-width: 1070px) {
    .sticky #logo {
        display: none;
    }
    .galeryjne {
        transform: scaleX(0.7) !important;
        transform: scaleY(0.85) !important;
    }
}

@media(max-width: 1024px) {
    .o-nas #o-nas-card {
        width: 100% !important;
    }
}

@media(max-width: 515px) {
    .responsive.img img {
        height: 150px;
    }
}

@media(max-width: 601px) {
    .carousel a {
        width: 200px !important;
    }
    #table-row h5{
    margin-left: 7px;
    }

    #table-row .col{
        padding: 0 !important;
    }
}

@media(max-width: 1600px) {
    .tap-target {
        width: 60% !important;
    }
}

@media(max-width: 875px) {
    .galeryjne {
        transform: scaleX(0.6) !important;
        transform: scaleY(0.65) !important;
    }
}

@media(max-width: 750px) {
    .galeryjne {
        width: 600px !important;
        height: 480px !important;
    }
}

@media(max-width: 627px) {
    .galeryjne {
        width: 500px !important;
        height: 380px !important;
    }
    /*REKRUTACJA-MOBILE */
    .collapsible-row .collapsible li .collapsible-header i {
    float:left !important;
    }
    .collapsible-row .collapsible {
    text-align: left;
    }
    .card-content h5 {
        display:block;
        margin: 0;
        line-height: 1.6;
        margin-top: 10px;
        color:;
    }
    .card-content #test4,#test5,#test6 {
        display: block !important;
        padding-bottom: 15px;
    }
    
    .card-content #test4 ol,#test5 ol,#test6 ol {
        padding:0;
    }

}
@media(max-width: 515px) {
    .galeryjne {
        width: 400px !important;
        height: 280px !important;
    }
    /*REKRUTACJA-MOBILE */
    .collapsible-row .col {
    padding:0 !important;
    }
    /* WYCENTROWANIE NEWS IMG */
        #news-outlook-container #news-img img {
        margin-left:30%;
        margin-right:30%;
        width: 40%;
    }
}

/*TIMELINE-HISTORIA-SZKOLY*/
@media screen and (min-width: 40em) {
  .timeline-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline ul {
    padding-left: 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .timeline li {
    width: 42%;
  }
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 2em;
  }
  .timeline li:nth-child(odd) {
    float: left;
  }
  .timeline li:nth-child(4) {
    margin-top: 150px;
  }

  .timeline li:nth-child(odd):before {
    border-top: 1em solid #dddddd;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  .timeline li:nth-of-type(2n+1) {
    clear: both;
  }
}